.control-bar
  width: 100%

  background-color: $primary
  color: white

  // @include flex()
  @include mobile
    padding: 0 0.625rem
  & img
    vertical-align: middle
    max-width: inherit
  & .column
    padding: 0
  & .columns
    margin: 0
  & .container
    @include touch
      width: 100%
      padding: 0 0.75rem


.breadcrumbs__link
  & a
    color: white
  &:not(:last-of-type)::after
    padding: 0 0.3125rem
    content: '/'
