.header
  width: 100%
  height: 90px
  background-color: black
  & .container
    padding: 20px 0

.header__logo
  max-width: 160px
  padding: 0
  margin: 0

.header__user
  width: 50px
  height: 50px
  border-radius: 50%
  background-color: $success
  display: flex
  align-items: center
  justify-content: center

  &--guest
    & a
      color: white
      font-size: 20px
      line-height: 20px
