.header
  width: 100%
  background-color: #222831
  transition: height 0.5s ease-in

  & .container
    padding: 0.625rem 0.75rem

.header__logo
  max-width: 10rem
  padding: 0
  margin: 0 0.5rem 0 0

.header__create
  color: $white-ter !important
  &:hover
    color: $white-bis !important

