.header
  width: 100%
  background-color: black
  & .container
    padding: 20px 0

.header__logo
  max-width: 160px
  padding: 0
  margin: 0


.header__nav
  & li
    display: inline-block

    min-width: 50px

    padding: 10px
    margin-left: 50px

    border-bottom: 3px solid $success

    & a
      color: white

      font-family: $roboto
      font-size: 20px
