.comments__avatar
  overflow: hidden
  width: 54px
  max-height: 54px

  border-radius: 50%
  border: 1px solid $primary
  margin-right: 5px

  & img
    border-radius: 50%
    border: 2px solid white

    height: 100%
    width: 100%
