.home section
  background-color: $white-ter

.home__title
  & h1
    color: $primary

    font-family: $heading
    font-size: 64px !important

.home__plus
  @include flex

  width: 35px
  height: 35px

  background-color: $success
  border-radius: 50%

  @include shadow-s()