// Variables
@import "~bulma/sass/utilities/variables";
@import "~bulma/sass/utilities/mixins";
@import "layout/partials/variables";
@import "layout/partials/colors";
@import "layout/partials/fonts";
// Mixins
@import "mixins/mixins";
// Main Layout
@import "layout/header";
@import "layout/nav";
@import "layout/footer";
@import "layout/partials/input";
@import "layout/control-bar";
@import "home";
@import "flash";
@import "contact";
@import "blog";
// User
@import "user";
// Visuals
@import "visuals/visual";
@import "visuals/player";
@import "visuals/create";
@import "visuals/favorite";
@import "visuals/stats";
@import "visuals/comment";
@import "visuals/rating";

body,
html {
    font-family: $roboto;
    font-size: 16px;
    margin: 0;
    padding: 0;
    @include mobile {
        overflow-x: hidden
    }
}

* {
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

.relative {
    position: relative;
}

.main {
    min-height: calc(100vh - 260px);
    background-color: rgba(238, 238, 238, .4)
}

.section {
    background-color: transparent
}

.splash-screen {
    @include flex($direction: column);
    height: calc(100vh - 72px);
    width: 100%;
    background-color: #222831;
    & img {
        max-width: 44.375rem;
        @include mobile {
            max-width: 80%;
        }
    }
    & p {
        color: white;
        font-size: 4rem;
        font-family: 'Raleway', sans-serif;
        @include mobile {
            font-size: 1.5rem;
        }
    }
}

.join {
    color: #FFFFFF;
    border: 0.125rem solid;
    border-image: linear-gradient(to right, #31725A, #34495E 6.25rem, #31725A);
    border-image-slice: 1;
    font-size: 0.875rem !important;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1475rem;
    line-height: 1.1875rem;
    text-align: center;
    width: 15.625rem;
    margin-top: 4.375rem;
    padding: 0.625rem 3.125rem;
    &:hover {
        color: $success;
    }
}

.footer {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
}

.error {
    @include flex()
    height: 50vh;

    &__number {
        font-size: 3.75rem;
        border-right: 0.1875rem solid $red;
        line-height: 1;
        padding: 0 1.25rem;
        margin-right: 1.25rem;
    }
}

.is-flex-centered {
    @include flex($direction: column)
    height: 100%;
    width: 100%
}

.color-grey {
    color: $grey
}

.color-grey-light {
    color: $grey-light
}

.sort-visuals {
    line-height: 2;
    & a {
        color: #4a4a4a;
    }
    & .is-active {
        color: $primary;
        border-bottom: 2px solid $primary;
    }
}
