.header {
  width: 100%;
  height: 90px;
  background-color: black;
}

.header .container {
  padding: 20px 0;
}

.header__logo {
  max-width: 160px;
  padding: 0;
  margin: 0;
}

.header__user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #48D2A0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__user--guest a {
  color: white;
  font-size: 20px;
  line-height: 20px;
}

.visual {
  width: 100%;
  height: 360px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.home {
  background-color: whitesmoke;
}

.user__home {
  color: #34495E;
  font-family: "Raleway", sans-serif;
  font-size: 64px !important;
}

.control-bar {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: #358ED7;
  color: white;
}

.control-bar .title {
  color: white;
}

.control-bar img {
  vertical-align: middle;
}

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.splash-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}

.splash-screen img {
  max-width: 710px;
}

.splash-screen p {
  color: white;
  font-size: 64px;
  font-family: 'Raleway', sans-serif;
}

.join {
  background: #000000;
  color: #FFFFFF;
  border-radius: 50%;
  border: 2px solid;
  -o-border-image: linear-gradient(to right, #31725A, #34495E 100px, #31725A);
     border-image: -webkit-linear-gradient(left, #31725A, #34495E 100px, #31725A);
     border-image: linear-gradient(to right, #31725A, #34495E 100px, #31725A);
  border-image-slice: 1;
  font-size: 14px !important;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2.36px;
  line-height: 19px;
  text-align: center;
  width: 250px;
  margin-top: 70px;
  padding: 10px 50px;
}

.join:hover {
  color: #48D2A0;
}

.footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
}
