.comment__avatar
  background-color: $primary

  overflow: hidden
  width: 2.25rem
  max-height: 2.25rem

  border-radius: 50%

  margin-right: 0.3125rem
  padding: 0.1875rem

.comment + .media
  border: none

.comment__content .box:not(:last-child)
  margin-bottom: 0.3125rem

.comment__info
  color: $grey-light
  font-size: .8rem

  & a
    color: $red
