.comments
  max-height: 100vh
  overflow-y: scroll
  overflow-x: hidden
  padding: 1px

.comment__avatar
  background-color: $primary

  overflow: hidden
  width: 36px
  max-height: 36px

  border-radius: 50%

  margin-right: 5px
  padding: 3px

.comment + .media
  border: none

.comment__content .box:not(:last-child)
  margin-bottom: 5px

.comment__info
  color: $grey-light
  font-size: .8rem

  & a
    color: $red
