.player__close, .player__seek-forward
  margin-right: 55px

.player__seek-back
  margin-right: 35px

.player__play
  margin-right: 10px

.player__pause
  margin-right: 30px

.player__speed
  margin-right: 50px

.player__save
  margin-right: 25px

#visualizer
  display: block
  margin: 0 auto
