.player
  @include flex()

.player__close, .player__seek-forward
  margin-right: 3.4375rem
  font-size: 0.75rem

.player__seek-back
  margin-right: 2.1875rem
  font-size: 0.75rem

.player__play
  margin-right: 0.625rem
  margin-top: 0.3125rem

.player__pause
  margin-right: 1.875rem
  margin-top: 0.3125rem

.player__speed
  margin-right: 3.125rem

.player__save
  margin-right: 1.5625rem

.player--active
  fill: $success !important

.player__button
  fill: white
  &:hover
    fill: lighten($success, 20%)
