.visual
  width: 100%

  overflow: hidden

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  border: 3px solid white

  & .front
    text-align: center

.visual__remove
  margin-left: 15px

.visual__save
  margin-left: 50px

#visualizer
  width: 100%
  height: 500px

  display: block
  margin: 0 auto

.visual__edit
  @include flex()
  height: $control-bar-height

.visual__track, .visual__artist, .visual__album
  text-transform: capitalize
  margin: 0 10px