.visual
  width: 100%
  height: 360px

  overflow: hidden

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  border: 3px solid white

  & .front
    text-align: center

.visual__remove
  margin-left: 15px

.visual__save
  margin-left: 50px
