.visual
  width: 100%
  overflow: hidden
  border: 0.1875rem solid white
  @include shadow-s()

  & .front
    text-align: center

.visual__remove
  margin-left: 0.625rem

.visual__save
  margin-left: 3.125rem

.visual__edit
  @include flex()
  height: $control-bar-height

.visual__track, .visual__artist, .visual__album, .visual__private
  text-transform: capitalize
  margin: 0 0.625rem

.visual__private
  @include flex()
  height: 100%
  margin-left: 3.125rem
  & label
    position: relative
    margin-left: 0.3125rem
    margin-top: -0.625rem

.visual__actions
  & a
    color: black
  & img
    vertical-align: middle
  & span
    padding-right: 1.25rem

.show-visual main .container
  width: 100%
  max-width: 100%

.show-visual .section
  background-color: rgba(238, 238, 238, .4)
